<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>SynchronizationApp config</comment>
<entry key="root2">E:\ITMO\2_kurs\battlefield\direc2</entry>
<entry key="lastState2">E:\ITMO\2_kurs\battlefield\laststate2</entry>
<entry key="root1">E:\ITMO\2_kurs\battlefield\direc1</entry>
<entry key="lastState1">E:\ITMO\2_kurs\battlefield\laststate1</entry>
</properties>
